{{>/layout/main-header}}

<div class="container">
    <input id="postId" type="hidden" value="" />
    <input id="pageOwnerId" type="hidden" value="" />
    <input id="my-loveId" type="hidden" value="">


    <div class="my_post_detail_title">
        <h2></h2>
    </div>
    <hr />

    <div class="my_post_detail_content">

    </div>
    <div class="my_post_info_box d-flex">
        <div class="my_post_info">

            <i class="fa-solid fa-heart my_fake_like my_mr_sm_1"></i>
            by <b></b> <span class="my_text_body_sm"></span>

            <i class="far fa-heart my_fake_un_like my_mr_sm_1"></i>
            by <b></b> <span class="my_text_body_sm"></span>

        </div>
    </div>


    <div class="my_mt_md_1">
        <a class="btn btn-outline-success" href="#">수정</a>
        <button id="btn-delete" class="btn btn-outline-danger">삭제</button>
    </div>

    <br />

</div>


{{>/layout/footer}}